<!-- First Name : <input [(ngModel)]="newEmployee.firstName" type="text" /><br />
Last Name : <input [(ngModel)]="newEmployee.lastName" type="text" /><br />
<button (click)="createEmployee()">Submit</button><br /> -->

<!-- <button (click)="getEmployee()">Get employees</button> -->
<div class="m-4">
  <button class="d-flex flex-row-reverse bd-highlight btn btn-primary" (click)="goToAddEmployee()">
    Go to Add employee
  </button>
  <!-- <ul> -->
  <!-- @for (Employee of employees; track employees._id) {
<li>
    {{ Employee.firstName }}
    {{ Employee.lastName }}
    <button (click)="findByIdAndDelete(Employee._id)">delete</button>
</li>
}
</ul> -->
@if (isloading==false) {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees; track employee._id) {
      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="findByIdAndDelete(employee._id)"
          >
            DEL
          </button>
        </td>
        <td>
            <button
            [routerLink]="'/edit-employee/' + employee._id"
            class="btn btn-warning"
          >
            Edit
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>}
  @else {
    <h1>...Loading</h1>
  }
</div>
